html {
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: overlay;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #404040;
  color: #ffffff;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background: #404040;
  box-shadow:  10px 10px 20px #363636, -10px -10px 20px #4a4a4a;
  border-radius: 12px;
  h1 {
    font-size: 24px;
    font-weight: 600;
  }
}
.main__content {
  z-index: 1; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  max-height: calc(100% - 60px);
  padding: 20px 30px;
  margin-top: 20px;
  background: #404040;
  box-shadow:  10px 10px 20px #363636, -10px -10px 20px #4a4a4a;
  border-radius: 12px;
}