.btn {
    &__primary {
        height: 36px;
        padding: 0 8px;
        background: #404040;
        box-shadow:  4px 4px 7px #363636, -4px -4px 7px #4a4a4a;
        border-radius: 6px;
        transition: all 150ms ease;
        &:hover {
            background: linear-gradient(145deg, #3a3a3a, #444444);
            box-shadow:  4px 4px 7px #363636,
                -4px -4px 7px #4a4a4a;
        }
    }
}
.cm-input {
    height: 36px;
    padding: 0 8px;
    background: #404040;
    box-shadow:  4px 4px 7px #363636, -4px -4px 7px #4a4a4a;
    border-radius: 6px;
    transition: all 150ms ease;

    &:hover, &:focus {
        box-shadow: inset 4px 4px 7px #363636, inset -4px -4px 7px #4a4a4a;
    }
}
